<?xml version="1.0"?>
<launch>

<include file="$(find mcl_pi_gazebo)/launch/my_map.launch" />

  <!-- send table urdf to param server -->
  <param name="robot_description" command="$(find xacro)/xacro '$(find mcl_pi_gazebo)/urdf/ABot.urdf.xacro'" />

  <!-- push table_description to factory and spawn robot in gazebo -->
  <node name="spawn_ABot" pkg="gazebo_ros" type="spawn_model" args="-urdf -model simple_model -param robot_description" respawn="false" output="screen" />

</launch>
