<?xml version="1.0"?>
<launch>

  <arg name="rviz_file1" default="$(find mcl_pi_gazebo)/rviz/ABot_mcl.rviz" />
  <arg name="rviz_file2" default="$(find mcl_pi_gazebo)/rviz/KoBot_mcl.rviz" />
  <arg name="rviz_file3" default="$(find mcl_pi_gazebo)/rviz/KoBot2_mcl.rviz" />
  <node pkg="rviz" type="rviz" name="rviz_ABot" args="-d $(arg rviz_file1)" output="screen"/>
  <node pkg="rviz" type="rviz" name="rviz_KoBot" args="-d $(arg rviz_file2)" output="screen"/>
  <node pkg="rviz" type="rviz" name="rviz_KoBot2" args="-d $(arg rviz_file3)" output="screen"/>
  

</launch>
