<?xml version="1.0"?>
<launch>

  <master auto="start"/>

  <arg name="base_global_planner" default="navfn/NavfnROS"/>
  <!--<arg name="base_local_planner" default="dwa_local_planner/DWAPlannerROS"/>-->
  <arg name="base_local_planner" default="teb_local_planner/TebLocalPlannerROS"/>

  
  <!--- Run Move Base -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base_KoBot2" output="screen" >
    <param name="base_global_planner" value="$(arg base_global_planner)"/>
    <param name="base_local_planner" value="$(arg base_local_planner)"/>  
    <rosparam file="$(find mcl_pi_gazebo)/move_base/config/global_costmap_params_KoBot2.yaml" command="load" ns="global_costmap"/>
    <rosparam file="$(find mcl_pi_gazebo)/move_base/config/costmap_common_params_KoBot2.yaml" command="load" ns="global_costmap"/>
    <rosparam file="$(find mcl_pi_gazebo)/move_base/config/costmap_common_params_KoBot2.yaml" command="load" ns="local_costmap"/>
    <rosparam file="$(find mcl_pi_gazebo)/move_base/config/local_costmap_params_KoBot2.yaml" command="load" ns="local_costmap"/>
    <rosparam file="$(find mcl_pi_gazebo)/move_base/config/move_base_params_KoBot2.yaml" command="load" />
    <param name="local_costmap/width" value="4"/>
    <param name="local_costmap/height" value="4"/> 
  
    <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
    <param name="controller_frequency" value="2" />


    <remap from="/KoBot2/KoBot2/scan" to="/KoBot2/scan"/>
    <!--<remap from="cmd_vel" to="KoBot2/cmd_vel" />
    <remap from="move_base_simple/goal" to="KoBot2/move_base_simple/goal" />--> 

  </node>

</launch>
